<a href="https://colab.research.google.com/github/samndambuki/4th-year-Project/blob/master/ML_foundations(Washers_Data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [11]:
washers = pd.read_csv('/content/drive/MyDrive/washers.csv')
washers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             261 non-null    int64
 1   BrandName      261 non-null    object
 2   ModelNumber    261 non-null    object
 3   UPC            261 non-null    object
 4   Configuration  261 non-null    object
 5   Features       261 non-null    object
 6   Market         261 non-null    object
 7   Volume         261 non-null    float64
 8   IMEF           261 non-null    float64
 9   MinimumIMEF    261 non-null    float64
 10  EnergyUse      261 non-null    int64
 11  IWF            261 non-null    float64
 12  MaximumIWF     261 non-null    float64
 13  WaterUse       261 non-null    int64
 14  DateAvailable  261 non-null    object
 15  DateCertified  261 non-null    object
 16  Countries      261 non-null    object
 17  MostEfficient  261 non-null    object
dtypes: float64(5), int64(3), object(10)
memory usage: 36.8+ KB

In [12]:
washers.head()

,ID,BrandName,ModelNumber,UPC,Configuration,Features,Market,Volume,IMEF,MinimumIMEF,EnergyUse,IWF,MaximumIWF,WaterUse,DateAvailable,DateCertified,Countries,MostEfficient
0,2342279,GE,GTW845C*N***,1,Top Load,"Gentle Cycle,Delayed Start,Sanitize Option",Residential,5.0,2.06,1.29,192,4.3,8.4,6368,8/5/19,7/31/19,"United States, Canada",No
1,2331684,GE,GUD27EE*N***,84691844198,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
2,2331685,GE,GUD27EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No
3,2331687,GE,GUD27GE*N***,84691844181,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,United States,No
4,2331686,GE,GUD37EE*N***,7.57638E+11,Top Load,Gentle Cycle,Residential,3.9,2.06,1.29,140,4.3,8.4,4947,12/10/18,11/30/18,Canada,No

In [13]:
washers[['BrandName']].describe()

       BrandName
count        261
unique        22
top           LG
freq          50

In [15]:
washers[['Volume']].describe()

           Volume
count  261.000000
mean     4.374713
std      0.965866
min      1.900000
25%      4.300000
50%      4.500000
75%      5.000000
max      6.200000

In [17]:
washers[['BrandName']].value_counts(normalize = True)

BrandName
LG                 0.191571
GE                 0.187739
Samsung            0.180077
Kenmore            0.114943
Whirlpool          0.099617
Maytag             0.068966
Electrolux         0.026820
Bosch              0.015326
Miele              0.015326
Asko               0.015326
Beko               0.011494
Blomberg           0.011494
Crosley            0.011494
Midea              0.007663
Magic Chef         0.007663
Amana              0.007663
Fisher & Paykel    0.007663
Insignia           0.003831
Inglis             0.003831
Gaggenau           0.003831
GE Adora           0.003831
Haier              0.003831
dtype: float64

In [18]:
washers[['Volume']].mean()

Volume    4.374713
dtype: float64

In [20]:
washers.groupby('BrandName')[['Volume']].mean().sort_values(by = 'Volume')

                   Volume
BrandName
Beko             2.133333
Gaggenau         2.200000
Bosch            2.200000
Miele            2.300000
Blomberg         2.300000
Fisher & Paykel  2.400000
Haier            2.400000
Asko             2.525000
Magic Chef       2.700000
Electrolux       3.785714
GE Adora         4.200000
Amana            4.250000
Inglis           4.300000
GE               4.328571
Crosley          4.400000
Whirlpool        4.453846
LG               4.596000
Samsung          4.729787
Kenmore          4.796667
Insignia         4.800000
Maytag           4.988889
Midea            5.200000

In [21]:
washers.groupby('BrandName')[['Volume']].agg(['mean','min','max'])

                   Volume
                     mean  min  max
BrandName
Amana            4.250000  4.2  4.3
Asko             2.525000  2.0  2.7
Beko             2.133333  1.9  2.5
Blomberg         2.300000  1.9  2.5
Bosch            2.200000  2.2  2.2
Crosley          4.400000  4.2  4.5
Electrolux       3.785714  2.4  4.4
Fisher & Paykel  2.400000  2.4  2.4
GE               4.328571  2.2  5.2
GE Adora         4.200000  4.2  4.2
Gaggenau         2.200000  2.2  2.2
Haier            2.400000  2.4  2.4
Inglis           4.300000  4.3  4.3
Insignia         4.800000  4.8  4.8
Kenmore          4.796667  2.4  6.2
LG               4.596000  2.3  5.8
Magic Chef       2.700000  2.7  2.7
Maytag           4.988889  4.4  6.2
Midea            5.200000  5.2  5.2
Miele            2.300000  2.3  2.3
Samsung          4.729787  2.2  5.6
Whirlpool        4.453846  2.0  5.3